/* Reset and basic styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0F1629;
    color: #E0E0E0;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #212121;
}

::-webkit-scrollbar-thumb {
    background-color: #3b4557;
    border-radius: 6px;
    border: 2px solid #212121;
}

/* Header styles */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #332d49;
    color: #ffffff;
}

.contact-info span {
    margin-right: 1rem;
}

.social-media-links a {
    margin-left: 0.5rem;
}

.social-media-links .icons {
    width: 24px;
    height: 24px;
}

.header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    height: 100px;
    width: auto;
}

.ngo-info {
    text-align: center;
    margin-left: 8rem;
}

.ngo-name {
    font-size: 2rem;
    font-weight: bold;
    color: #F6A723;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.years {
    color: #BDBDBD;
    margin-top: 0.5rem;
}

.language-donate {
    display: flex;
    align-items: center;
}

.language-toggle {
    margin-right: 1rem;
}

#languageSelect{
    background-color: #343A40;
    outline: 1px solid #707070;
    color: #fff;
    border-radius: 5px;
}

.donate-btn {
    display: flex;
    align-items: center;
    background-color: #ff6f61;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
    height: 30px;
    width: 80px;
}

.donate-btn:hover {
    background-color: #e65c50;
}

/* Navbar styles */
nav {
    background-color: #343A40;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1rem;
}

nav ul li {
    position: relative;
    margin: 0 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
}

nav ul li a:hover {
    background-color: #ff6f61;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #343A40;
    outline: 1px solid #707070;
    z-index: 1;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #ffffff;
    padding: 0.5rem 1rem;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ff6f61;
}

/* Main content styles */
main {
    padding: 2rem 1rem;
}

/* Image gallery styling */
.container {
    padding: 10px;
    margin: 20px auto 0;
    text-align: center;
}

.container__img-holder {
    max-width: 320px;
    display: inline-block;
    margin-bottom: 16px;
    margin-left: 16px;
    cursor: pointer;
}

.container__img-holder img {
    width: 100%;
    height: 220px;
    display: block;
}

/* Popup Styling */
.img-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1000;
}

.img-popup img {
    max-width: 90%;
    max-height: 80%;
    opacity: 0;
    transform: translateY(-100px);
}

.close-btn {
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.close-btn .bar {
    height: 4px;
    background: #fff;
}

.close-btn .bar:nth-child(1) {
    transform: rotate(45deg);
}

.close-btn .bar:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
}

.opened {
    display: flex;
}

.opened img {
    animation: animatepopup 1s ease-in-out .8s;
    -webkit-animation: animatepopup .3s ease-in-out forwards;
}

@keyframes animatepopup {

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

/* Navigation buttons styling */
.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.nav-btn {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.nav-left {
    padding-left: 20px;
}

.nav-right {
    padding-right: 20px;
}

/* Footer styles */
footer {
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    margin-bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo img {
    height: 80px;
    width: auto;
    margin-bottom: 1rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 8rem;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 0.5rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-media-footer {
    margin-top: 1rem;
}

.social-media-footer a {
    margin: 0 0.5rem;
}

.social-media-footer .icons {
    width: 24px;
    height: 24px;
}

/*Scaling for 4K screens*/
@media (min-width: 3840px) {
    body {
        transform: scale(2.5);
        transform-origin: top left;
        width: 40vw;
        height: 100vh;
    }
}
/* Scaling for 768x1024 screens (portrait tablets) */
@media (device-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        margin-left: 0;
    }

    .social-media-links {
        margin-top: 1rem;
    }
}

/* Scaling for 480x800 screens (large mobile devices) */
@media (max-width: 480px) {
    header{
        transform: scale(0.25);
        transform-origin: top left;
        width: 398vw;
        height: 2vh;
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        margin-left: 0;
    }
    .social-media-links {
        margin-top: 1rem;
    }
}